body{
    background: rgb(194, 194, 254);
}
h1 {
    padding: 10px;
}

#animal-form {
    float: right;
}
#main-container{
    padding: 30px;
    
}
#gifs-here {
    display: flex;
    flex-wrap: wrap;
}
#add-animal{
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    background: rgb(50, 235, 192);
}

button {
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    background: rgb(50, 235, 192);
}
img {
    margin: 10px;
}